/* THIS IS THE NEW OFFICIAL BASE CSS FILE */
/* BASE CSS RULES */
/* base styles (mobile-first) here */
/********************************************/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap);

:root {
  --primary-color: #000000;
  --primary-alt-color: #161616;
  --accent-color: #b74b4b;
  --darker-red: #8e3a3a;
  --white: #fff;
  --alt-white: #e8e8e8;
  --email-copy-highlight: #f7cc25;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* max-width: 100%; */
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  color: var(--white);
  line-height: 1.5;
}

/* LAYOUT & UTILITY */

.section-h2 {
  color: var(--white);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.2rem;
  line-height: 1.3;
}

.hide {
  display: none;
}

.active {
  display: flex;
}

/* HEADER IS NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.logo {
  color: var(--accent-color);
  font-size: 2rem;
  font-weight: 800;
  transition: 0.5s ease;
  letter-spacing: 3px;
  text-decoration: none;
}

.nav-btn {
  color: var(--accent-color);
  background-color: transparent;
  border: 0.2rem solid var(--accent-color);
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  transition: 0.3s ease;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem 0;
  background-color: var(--primary-alt-color);
  z-index: 99;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav.active {
  display: flex;
}

nav a {
  font-size: 2.4rem;
  color: var(--white);

  padding: 1rem;
  text-decoration: none;
  border: none;
  outline: none;
}

nav a:hover,
nav a:active {
  border-bottom: none;
  transition: none;
  background-color: none;
}

/* ****************** */
/* HOME SECTION */
/* ****************** */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.home-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 4rem;
}

.home-img {
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  padding: 0 2rem;
}

.home-img img {
  max-width: 30rem;
  width: 100%;
  display: block;
  height: auto;
  border-radius: 50%;
  transition: 0.2s linear;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.home .home-content h1 {
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
}

span {
  color: var(--accent-color);
}

.home-content h3 {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
  font-weight: 700;
  text-align: center;
}

.typing-text {
  font-weight: 600;
  min-width: 280px;
}

.typing-text span {
  position: relative;
}

.typing-text span::before {
  content: "software developer";
  color: var(--accent-color);
  animation: words 20s infinite;
}

.typing-text span::after {
  content: "";
  position: absolute;
  height: 100%;
  right: -8;
  animation: cursor 0.6s infinite;
}

@keyframes cursor {
  to {
    border-left: 3px solid var(--accent-color);
  }
}

@keyframes words {
  0%,
  12.5% {
    content: "web developer";
  }
  12.6%,
  25% {
    content: "code wrangler";
  }
  25.1%,
  37.5% {
    content: "javascript coder";
  }
  37.6%,
  50% {
    content: "perpetual student";
  }
  50.1%,
  62.5% {
    content: "react builder";
  }
  62.6%,
  75% {
    content: "code fixer";
  }
  75.1%,
  87.5% {
    content: "secret sorcerer";
  }
  87.6%,
  100% {
    content: "problem solver";
  }
}

.home-content p {
  font-size: 1.6rem;
  text-align: center;
  max-width: 35ch;
  margin: 0 auto;
}

.contact-links .btn {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 1.2rem;
  background-color: var(--accent-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--primary-color);

  font-weight: 600;
  border: none;
  transition: 0.3s ease;
  text-decoration: none;
}

.contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 30px;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid var(--accent-color);
  font-size: 2rem;
  border-radius: 50%;
  /* margin: 3rem 1.5rem 3rem; */
  transition: 0.3s ease;
  color: var(--accent-color);
}

/* ****************** */
/* PROJECTS SECTION */
/* ****************** */
.projects {
  background-color: var(--primary-alt-color);
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 0;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 6rem;
  padding: 0 2rem;
  max-width: 50rem;
}

.project img {
  width: 100%;
  border-radius: 10px;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.project h2 {
  color: var(--accent-color);
  font-size: 1.8rem;
}

.project-description {
  font-size: 1.6rem;
  text-align: left;
}

.project-links {
  display: flex;
  gap: 1.6rem;
}

.project a {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.4rem 1.8rem;
  border-radius: 54rem;
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: 1px solid var(--accent-color);
  text-decoration: none;
  margin-top: 0.6rem;
}

.project a:active,
.project a:hover {
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* ****************** */
/* SKILLS & EDUCATION SECTION */
/* ****************** */
.skills-education {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  line-height: 2;
  padding: 4rem 0;
}

.skills-container {
  margin-bottom: 4rem;
  padding: 0 4rem;
}

.skills-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  color: var(--accent-color);
  font-size: 1.8rem;
}

.skills-container ul li i {
  margin-right: 1rem;
}

/* Education (Same Section) */
.education-container {
  max-width: 30rem;
  font-size: 1.6rem;
  line-height: 1.4;
  padding: 1rem 2.4rem;
}

.education-inner {
  text-align: left;
  padding: 0 2rem;
}

.education-list {
  list-style-type: none;
  padding: 2rem 0;
}

.education-list li {
  margin-bottom: 2rem;
}

.checkmark {
  margin-right: 1rem;
}

/* ****************** */
/* CONTACT SECTION */
/* ****************** */
.contact {
  background-color: var(--primary-alt-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem 0;
  /* gap: 4rem; */
}

.contact-form {
  background-color: var(--darker-red);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 4rem;
  padding: 1.4rem;
}

.contact-text {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1rem;
}

.email-copy {
  background-color: rgba(0, 0, 0, 0.24);
  border: 3px solid var(--primary-alt-color);
  color: var(--alt-white);
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.5rem 0;
  margin: 10px 0;
}

.email-copy:hover {
  cursor: pointer;
  color: var(--email-copy-highlight);
}

.contact-form-inputs {
  min-width: 240px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.8rem;
}

.contact-form-inputs label {
  font-size: 1.6rem;
}

.email-input,
.message-textarea {
  padding: 0.75rem;
  font-size: 1.6rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.message-textarea {
  resize: none;
  margin-top: 1rem;
}

.contact-form-inputs button {
  background-color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 2rem;
}

.button-top {
  display: block;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  padding: 0.7rem 1.5rem;
  background: var(--alt-white);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.contact-form-inputs button:hover .button-top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.contact-form-inputs button:active .button-top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.contact-form-img img {
  width: 100%;
  max-width: 300px;
  width: auto;
  display: block;
  /* border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; */
}

/********************************************/
/********************************************/
/********************************************/
/* MEDIA QUERIES */
/********************************************/
@media (min-width: 544px) {
  /* sm styles */
  .home {
    padding-top: 6rem;
  }
}

/********************************************/
/********************************************/
@media (min-width: 704px) {
  /* md styles */
  body {
    background-color: rgb(238, 185, 10);
  }

  /* Top Nav and Home Section */
  .section-h2 {
    font-size: 3rem;
  }

  .logo {
    font-size: 2.4rem;
  }

  .home-img img {
    max-width: 40rem;
  }

  .home-inner {
    margin-bottom: 10rem;
  }

  .home .home-content h1 {
    font-size: 4rem;
  }

  .home-content h3 {
    font-size: 2.8rem;
  }

  .home-content p {
    font-size: 2.2rem;
  }

  .contact-links .btn {
    font-size: 2rem;
    padding: 1rem 1.8rem;
  }

  .social-icon {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
  }

  /* Projects Section */
  .project h2 {
    font-size: 2.2rem;
  }

  .project-description {
    font-size: 2rem;
  }

  .project a {
    font-size: 1.8rem;
    padding: 0.6rem 2rem;
  }

  /* Skills & Education Section */
  .skills-container ul {
    flex-direction: row;
    gap: 3rem;
    font-size: 2.4rem;
  }

  .education-container {
    max-width: 60rem;
    font-size: 2.2rem;
  }

  .contact-form {
    padding: 2.4rem;
  }

  .contact-text {
    font-size: 2.2rem;
  }

  .email-copy {
    font-size: 2.2rem;
  }

  .email-input,
  .message-textarea {
    padding: 1rem;
    font-size: 2rem;
  }

  .contact-form-inputs button {
    font-size: 2rem;
  }

  .contact-form-img img {
    max-width: 400px;
  }
}

/********************************************/
/********************************************/
@media (min-width: 780px) {
  /* lg styles */
  body {
    background-color: rgb(95, 150, 51);
  }

  header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    height: 80px;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.75);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2.4rem;
    width: auto;
    height: auto;
    padding: 0;
    background: transparent;
  }

  .nav-btn {
    display: none;
  }

  nav.active {
    display: flex;
  }

  nav a {
    color: var(--white);
    font-size: 1.8rem;
  }

  .home {
    padding: 9rem 3rem 6rem 3rem;
  }

  .home-inner {
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }

  .home-img {
    display: flex;
    justify-content: center;
  }

  .home-content h1 {
    font-size: 4rem;
    align-items: flex-start;
    text-align: left;
  }

  .home-content .btn {
    transition: 0.3s ease;
    cursor: pointer;
  }

  .home-content .btn:hover {
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
  }

  .project-container .section-h2 {
    margin-bottom: 6rem;
  }

  .project {
    flex-direction: row;
    gap: 6rem;
  }

  .project-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .project-text h2 {
    font-size: 2.4rem;
    align-self: flex-start;
  }

  .project-text p {
    font-size: 2rem;
  }

  .project-links {
    align-self: flex-start;
    gap: 0.5rem;
  }

  .skills-container {
    display: flex;
    flex-direction: row;
    padding: 4rem;
    gap: 4rem;
  }

  .skills-container h2 {
    margin-bottom: 0;
  }

  .skills-container ul li {
    padding: 0;
  }

  .education-container {
    width: 100%;
  }

  .education-inner {
    display: flex;
    justify-content: center;
  }

  .education-list {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .education-list li {
    display: block;
    margin: 0.5rem 0;
    padding: 1.5rem;
  }

  .contact-form {
    flex-direction: row;
  }
}

/********************************************/
/********************************************/
@media (min-width: 1200px) {
  /* xl styles */
  body {
    background-color: rgb(37, 108, 158);
  }

  .home-content h1 {
    font-size: 6rem;
  }

  .home-content p {
    font-size: 3rem;
  }
}

/********************************************/
/********************************************/
@media (min-width: 1344px) {
  /* xxl styles */
  body {
    background-color: rgb(83, 38, 104);
  }
}
